


/* ********************************************************************************** */
/* ******************************* DEBUT PAGE CONTACT ******************************* */
/* ********************************************************************************** */



  /* ********************************************************************* */
  /* *************************** DEBUT EN-TÊTE *************************** */
  /* ********************************************************************* */



    #enteteContact a,

    #enteteContact a:hover {



      color: var(--rouille);



      background-color: white;



      border: solid 0.1vw transparent;

      border-radius: 0.3vw;



    }



  /* ///////////////////////////////////////////////////////////////////// */
  /* //////////////////////////// FIN EN-TÊTE //////////////////////////// */
  /* ///////////////////////////////////////////////////////////////////// */






  /* ********************************************************************* */
  /* **************************** DEBUT TITRE **************************** */
  /* ********************************************************************* */



    h1 {



      font-family: Georgia, 'Times New Roman', Times, serif;

      font-size: 4.2vw;

      text-align: center;

      font-style: italic;



      margin-top: 14vw;



    }



  /* ///////////////////////////////////////////////////////////////////// */
  /* ///////////////////////////// FIN TITRE ///////////////////////////// */
  /* ///////////////////////////////////////////////////////////////////// */












  /* ********************************************************************** */
  /* ************************* DEBUT PRESENTATION ************************* */
  /* ********************************************************************** */



    #contactPresentation {



      display: flex;

      flex-direction: row nowrap;

      justify-content: space-around;



      height: auto;

      width: auto;



      margin: 12vw 3vw 12vw;



    }



    #contactCoordonnees,

    #contactFormulaire {



      width: 38vw;

      height: 54vw;



      border-radius: 3vw;



    }



    .contactTitre {



      display: flex;

      flex-direction: row nowrap;

      justify-content: space-around;



      height: 8vw;

      width: 100%;



      background-color: white;
      


      border-radius: 3vw 3vw 0vw 0vw;



    }



    h2 {


      font-family: Verdana, Geneva, Tahoma, sans-serif;

      font-size: 2.2vw;

      text-align: center;



      width: 100%;



      margin: auto;



      background-color: white;



      border-radius: 3vw;

      

    }



     


    /* ******************************************************** */
    /* ******************* DEBUT COORDONNEES ****************** */
    /* ******************************************************** */



      #contactCoordonnees {


        display: grid;

        grid-template-columns: auto;

        grid-template-rows: auto auto auto auto auto auto;

        align-items: start;
  
        justify-content: start;



        background-color: var(--rouille);



      }



      #contactCoordonneesTitre {



        border: solid 0.2vw var(--rouille);



      }



      #contactCoordonneesTitre h2 {



        color: var(--rouille);



      }



      #contactCoordonneesMail,

      #contactCoordonneesTelephone,

      #contactCoordonneesHoraires {



        padding: 0vw 3vw;

        

      }



      #contactCoordonneesMail {



        margin-top: 1.8vw;



      }



      #contactCoordonneesHoraires {


        margin-bottom: 0.3vw;



      }



      #contactCoordonnees a,
      
      #contactCoordonneesHoraires p {



        display: block;



        font-size: 1.3vw;

        color: white;

        text-align: left;



      }



      #contactCoordonneesPlan {



        width: auto;

        height: auto;


        margin: auto;



      }



      #contactCoordonneesPlan img {



        display: block;



        width: 100%;

        height: auto;



        margin: auto;



      }






      /* ********************************************* */
      /* ************** DEBUT SOUS PLAN ************** */
      /* ********************************************* */



        #contactCoordonneesSousPlan {



          display: grid;

          grid-template-columns: auto auto;

          grid-template-rows: auto;

          justify-content: space-between;

          align-items: center;



          height: 3vw;

          width: 100%;



          padding: 0vw 3vw;

          

        }



        #contactCoordonneesSousPlan address {



          font-size: 0.8vw;

          color: white;



          height: auto;

          width: auto;



        }



          /* ************************************* */
          /* ******* DEBUT RESEAUX SOCIAUX ******* */
          /* ************************************* */



          #contactCoordonneesRS {



            display: grid;

            grid-template-columns: auto auto auto;

            grid-template-rows: auto;

            align-items: center;

            align-content: center;

            justify-content: space-between;



            width: 9vw;

            height: 3vw;



          }



          #contactCoordonneesRS a {



            font-size: 1.8vw;

            font-weight: bold;

            color: white;

            text-align: center;



          }



          #contactCoordonneesFacebook a:hover,

          #contactCoordonneesLinkedin a:hover {



            color: var(--blue);



            transition: 0.3s ease-in-out;



          }



          /* **************************** */
          /* *** DEBUT XTWITTER HOVER *** */
          /* **************************** */



            #contactCoordonneesX {



              height: auto;

              width: auto;



              padding: 0vw 1.3vw 1.3vw 0vw;


            }




            #contactCoordonneesXa {



              position: relative;

            

              height: auto;

              width: auto;
              


            }




            #contactCoordonneesXa img {



              position: absolute;



              height: 1.3vw;
              
              width: auto; 



              transition: opacity 0.3s ease-in-out;



            }



            #contactCoordonneesXa #contactCoordonneesXaHover {



              opacity: 0;



            }



            #contactCoordonneesXa:hover #contactCoordonneesXaHover {



              opacity: 1;



            }



            #contactCoordonneesXa:hover #contactCoordonneesXaDefault {



              opacity: 0;



            }



          /* //////////////////////////// */
          /* //// FIN XTWITTER HOVER //// */
          /* //////////////////////////// */



        /* ///////////////////////////////////// */
        /* //////// FIN RESEAUX SOCIAUX //////// */
        /* ///////////////////////////////////// */



      /* //////////////////////////////////////////// */
      /* ////////////// FIN SOUS PLAN /////////////// */
      /* //////////////////////////////////////////// */



    /* ///////////////////////////////////////////////////////// */
    /* //////////////////// FIN COORDONNEES //////////////////// */
    /* ///////////////////////////////////////////////////////// */













    /* ********************************************************* */
    /* ********************* DEBUT MESSAGE ********************* */
    /* ********************************************************* */



      form#contactFormulaire {


        display: grid;

        grid-template-columns: auto;

        grid-template-rows: auto auto auto auto auto auto auto;

        align-items: start;
  
        justify-content: center;



        background-color: var(--blue);



      }



      legend#contactFormulaireTitre {



        border: solid 0.2vw var(--blue);



      }



      legend#contactFormulaireTitre h2 {



        color: var(--blue);



      }



      input[type=text],

      input[type=email] {



        font-size: 1.2vw; 

        font-weight: bold;

        color: var(--blue);
        


        border: none;
        
        border-radius: 0.3vw;
        

        
        width: 84%;
        
        height: 3.6vw;


            
        padding: 0.1vw 0.9vw;



        margin: 3.6vw 0vw 0vw 3vw;



      }



      input[type=text]::placeholder, 

      input[type=email]::placeholder {



        font-style: italic;

        font-weight: normal;



      }




      label {


      
        font-size: 1.1vw;

        color: white;



        margin: 3vw 0vw 0vw 3vw;

        

      }



      input[type=datetime-local] {



        font-size: 1.2vw;


        border: none;

        border-radius: 0.3vw;

        
        
        width: 18vw;
        
        height: 3.3vw;

        
        
        margin-left: 3vw;

        
        
        padding: 0vw 2vw;



      }



      input[type=image] {



        width: 3vw;

        height: 3vw;



        margin: 3vw 0vw 3vw 30vw;



        cursor: pointer;



      }



      /* input[type=image]:hover {



        width: 3.3vw;

        height: 3.3vw;


        transition: 0.3s ease-in-out;

      } */



      
    /* ///////////////////////////////////////////////////////// */
    /* ////////////////////// FIN MESSAGE ////////////////////// */
    /* ///////////////////////////////////////////////////////// */
    



  /* ////////////////////////////////////////////////////////////////////// */
  /* ////////////////////////// FIN PRESENTATION ////////////////////////// */
  /* ////////////////////////////////////////////////////////////////////// */



/* ////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////// FIN PAGE CONTACT //////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */


