


/* ********************************************************************************** */
/* *********************************** DEBUT MAIN *********************************** */
/* ********************************************************************************** */






  /* ********************************************************************* */
  /* ************************** DEBUT VARIABLES ************************** */
  /* ********************************************************************* */



    :root {



      --blue: rgb(0, 112, 192);



      --rouille: rgb(233, 113, 50);



      --orange: rgb(252, 151, 9);



      --green: rgb(51, 231, 180);



      --grey: rgb(198, 198, 198);



      --or:rgb(175, 141, 17);



      --black: rgb(33, 33, 41); 




      /* *********** */
      /* ALTERNATIVE */
      /* *********** */
      


      /* --blue: #0070c0; */



      /* --rouille: #e97132; */



      /* --orange: #fc9709; */



      /* --green: #33e7b4; */



      /* --grey: #c6c6c6; */



      /* --or:#af8d11; */



      /* --black: #212129;  */



    }



  /* ///////////////////////////////////////////////////////////////////// */
  /* /////////////////////////// FIN VARIABLES /////////////////////////// */
  /* ///////////////////////////////////////////////////////////////////// */






  /* ******************************************************************** */
  /* ************************** DEBUT ENSEMBLE ************************** */
  /* ******************************************************************** */



    * { 



      font-family:  Verdana, Geneva, Tahoma, sans-serif;

      font-size: 100%;

      text-align: left;

      color: black;



      margin: 0;

      padding: 0;



      box-sizing: border-box; 



    }



  /* //////////////////////////////////////////////////////////////////// */
  /* /////////////////////////// FIN ENSEMBLE /////////////////////////// */
  /* //////////////////////////////////////////////////////////////////// */





  
  /* ******************************************************************** */
  /* **************************** DEBUT LIEN **************************** */
  /* ******************************************************************** */



    a {

  
  
      text-decoration: none;

      text-align: center;
  
      

    }



  /* //////////////////////////////////////////////////////////////////// */
  /* ///////////////////////////// FIN LIEN ///////////////////////////// */
  /* //////////////////////////////////////////////////////////////////// */






  /* ******************************************************************** */
  /* **************************** DEBUT HAUT **************************** */
  /* ******************************************************************** */


    #haut {



      font-size: 1vw;

      color: white;



      width: 3vw;



      background-color: red;



      margin-top: -8vw;



    }



  /* //////////////////////////////////////////////////////////////////// */
  /* ///////////////////////////// FIN HAUT ///////////////////////////// */
  /* //////////////////////////////////////////////////////////////////// */






  /* *********************************************************************** */
  /* ********************** DEBUT RETOUR HAUT DE PAGE ********************** */
  /* *********************************************************************** */



    #arrowUp {



      position: -webkit-sticky;
    
      position: sticky;
    
      bottom: 0vw;
    


      margin-top: 3vw;
    
      margin-bottom: 1.9vw;
    


    }


    
    #arrowUp img{
    

      
      border-radius: 100%;


    
      max-width: 2.4vw;
      
      height: auto;
    

    
      margin-left: 96.3vw;
    

    }


  
  /* /////////////////////////////////////////////////////////////////////// */
  /* /////////////////////// FIN RETOUR HAUT DE PAGE /////////////////////// */
  /* /////////////////////////////////////////////////////////////////////// */






/* ////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////// FIN MAIN //////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */


